body, html {
    height: 100%;
    font-family: Gotham, Rockwell, Helvetica;
}

main {
    background-image: url("");
    background-size: cover; /* Adjust as needed */
    min-height: 100%;
    position: relative;
    color: white;
}

main:before {
    content: "";
    background-color: black;
    opacity: 0.4; /* Opacity color overlay */
    position: absolute;
    width: 100%;
    height: 100%;
}

.content {
    position: relative; /* Ensure content stays on top of overlay */
    z-index: 1; /* Ensure content stays on top of overlay */
}

nav {
    background-color: rgb(0, 0, 50);
}

.navbar-nav {
    margin-right: 15vw;
}

.nav-link:hover, .navbar-brand:hover {
    color: lightgrey;
}

.nav-link:active {
    color: darkred;
}

.navbar-toggler {
    border-color: white;
} 

.navbar-brand, .nav-link {
    font-size: 1.5em;
    color: white;
}

h1, h4 {
    text-align: center;
}

h1 {
    font-size: 3.5em;
}

h4 {
    font-size: 2em;
    font-weight: bold;
    position: relative;
    z-index: 3;
}

section cite {
    margin: 15vh 0;
}

cite {
    font-size: 2em;
}

.contact-box {
    background-color: rgba(0,0,0,0.4);
    padding: 0.5em;
}